img{
    width: 500px;
    border-style: dotted;
    border-width: ;
    
    
}

.Wellington {
    width: 1000px;
}

h2{
    color: rgb(158, 253, 6);
    text-align:center;
    text-decoration:underline;
    
    
}
body{
    background-color: rgb(228, 152, 12);
    border-style: dotted;
}
.centeritem{
    display: flex;
    justify-content:center;
}